pandas
numpy
scikit-learn
scipy
matplotlib
seaborn
keras==2.15.0
tensorflow==2.15.1
keras-tuner
Keras-Preprocessing
ipykernel
bnlp-toolkit
nltk

#deploy
fastapi
uvicorn
jinja2
python-multipart

#onxx
onnx
tf2onnx
onnxruntime